<!-- a filling form to add course -->
{% extends "layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend>Update/Add Course</legend>

            <div class="form-group">
                {{ form.course_name.label(class="formcontrol-label") }}
                {% if form.course_name.errors %}
                    {{ form.course_name(class="form-control form-control is-invalid") }}
                    {% for error in form.course_name.errors %}
                    <div class="invalid-feedback">
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %}
                {% else %}
                    {{ form.course_name(class="form-control form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.course_id.label(class="formcontrol-label") }}
                {% if form.course_id.errors %}
                    {{ form.course_id(class="form-control form-control is-invalid") }}
                    {% for error in form.course_id.errors %}
                    <div class="invalid-feedback">
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %}
                {% else %}
                    {{ form.course_id(class="form-control form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.ins_id.label(class="formcontrol-label") }}
                {% if form.ins_id.errors %}
                    {{ form.ins_id(class="form-control form-control is-invalid") }}
                    {% for error in form.ins_id.errors %}
                    <div class="invalid-feedback">
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %}
                {% else %}
                    {{ form.ins_id(class="form-control form-control") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
